/* started css file over */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    min-width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: black;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1 {
    padding-left: 12%;
    padding-right: 3%;
    text-align: left;
    background-color: bisque;
    color: darkcyan
}

nav {
    text-align: end;
    padding-right: 4%;
    word-spacing: 10px;
    font-size: medium;
    color: black;
}

nav a:hover {
    text-decoration: solid;
    opacity: 0.75;
    background-color: bisque;
}

nav a:link {
    color: black
}

nav a:visited {
    color: blue;
}

h2 {
    font-size: 1.75em;
}

#about {
    padding-top: 5%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 30%;
}

#about div {
    border-left: 5px solid blue;
}

#about h2 {
    padding-right: 3%;
    text-wrap: nowrap;
}

#about img {
    padding-left: 2%;
    padding-top: 10%;
}

/* how can I make this less squishy? Esp when screen is minimized? */
#about p {
    position: relative;
    top: -130px;
    flex-direction: column;
    left: 26%;
    text-wrap: wrap;
}

#work {
    padding-top: 5%;
}

.portfolio-items {
    display: flex;
    flex: wrap;
}

.portfolio-items article {
    width: calc(50% - 40px);
    margin: 20px;
}




#contact {
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

#contact ul {
    padding-left: 40%;
    word-spacing: 40px;
    font-size: 20px;
    border-left: 5px solid blue;
}

ul a:hover {
    text-decoration: solid;
    opacity: 0.8;
    background-color: blue;
}

ul a:link {
    color: bisque;
}

ul a:visited {
    color: darkcyan;
}






/* POSSIBLE OPTION */
/* .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* we haven't  discussed this yet. I plan to go over it on Monday */
/* } */

/* OR ALTERNATIVE */
/* article {
    margin-bottom: 16px;
}

article:nth-child(2n) {
    margin-right: 8px;
    width: calc(50% - 8px);
}
  
article:nth-child(2n+3) {
    margin-left: 8px;
    width: calc(50% - 8px);
} */