/* started css file over */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
 body {
    min-width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
header {
    color:black;
    background-color: blanchedalmond;
    display: block;
    height: 95px;
}

h1{
    text-align: start;
}

nav {
    text-align: end;
}

.work h2 {
    
}

#about {
    
}

#about img{
    float: left;
}

h2 {
    font-size: 1.9em;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-items article {
    width: calc(50% - 40px);
}

.portfolio-items article img {
    width: 38%;
}

.portfolio-items article h3 {
    font-size: 1.75em;
    position: absolute;
    background-color: beige;
    margin-top: 300px;
}

#refactor {
    width: calc(55% - 40px);
    margin-left: 20%;
}

#refactor h3 {
    margin-top: 560px;
}

#refactor img {
    width: 80%;
} */

