* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body {
    min-width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
}

header {
    color: black;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1 {
    padding-left: 12%;
    padding-right: 3%;
    text-align: left;
    background-color: cornsilk;
    color: darkcyan
}

nav {
    text-align: end;
    padding-right: 4%;
    word-spacing: 10px;
    font-size: medium;
    color: black;
}

nav a:hover {
    text-decoration: solid;
    opacity: 0.75;
    background-color: cornsilk;
}

nav a:link {
    color: black
}

nav a:visited {
    color: blue;
}

h2 {
    font-size: 1.75em;
}

h3 {
    padding-top: 1%;
    text-align: center;
    background-color: darkcyan;
    color: cornsilk;
}

#about {
    padding-top: 5%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 30%;
}

#about div {
    border-left: 5px solid blue;
}

#about h2 {
    padding-right: 3%;
    text-wrap: nowrap;
}

#about img {
    padding-left: 2%;
    padding-top: 10%;
}

/* how can I make this less squishy? Esp when screen is minimized? */
#about p {
    position: relative;
    top: -140px;
    flex-direction: column;
    left: 30%;
    text-wrap: wrap;
}

#work {
    padding-top: 5%;
}

#work h2 {
    padding-top: 5%;
    padding-left: 2%;
    text-decoration: underline 4px blue;
}

.portfolio-items {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
}

.portfolio-items article {
    width: calc(50% - 40px);
    margin: 20px;
}

.portfolio-items article:first-child {
    width: calc(100% - 40px);
}

.portfolio-items article:first-child img {
    width: 100%;
}

.portfolio-items article img {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
    transition: all 300ms ease-in-out;
    filter: grayscale(100%);
}

.portfolio-items article img:hover {
    filter: saturate(3);
}

#contact {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 2%;
    margin-right: 30%;
    display: flex;
    flex-direction: row;
}

#contact h2 {
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
    border-right: 5px solid blue;
}

#contact ul {
    padding-top: 5%;
    padding-left: 2%;
    word-spacing: 40px;
    font-size: 20px;
}

ul a:hover {
    text-decoration: solid;
    opacity: 0.8;
    background-color: blue;
}

ul a:link {
    color: cornsilk;
}

ul a:visited {
    color: darkcyan;
}

@media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        display: flex;
    }

    /* #about {
        display: flex;
        flex-direction: column;
    } */

    .portfolio-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
