/* Added 1 style rule */
* {
    box-sizing: border-box;
  }

  /* Added bg color, padding, margin-right style rules to header section */
  header {
    background-color: lightblue;
    padding: auto;
    margin-right: 60%; 
    text-align: right;
  }
/* Added h1 style rules for text */
  h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 0.05em;
    /* Added font color */
    color: rgb(72, 72, 72);
  }